#banner .tituloCat, .slideshow-container, .slide {box-sizing: border-box}
/* medium and up screens */

#banner{
  margin: 15px 0px 350px 20px;
}

/* Slideshow container */
#banner .slideshow-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 5%;
  transition: 0.3s ;
}

#banner .slide {
  box-shadow: 0 13px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 20%;
  text-align: center;
  font-family: arial;
  margin: 0 8%;
  background-color: #F4F8FF;
  float: left;
}
#banner .slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
#banner .slide a{
  text-decoration: none;
  color: black;
}

#banner .slideBtnPrev{
  cursor: pointer;
  float:left;
  margin-top:15%;
  position:absolute;
}
#banner .slideBtnNext{
  cursor: pointer;
  margin-left:75%;
  margin-top:15%;
  position:absolute;
}

#banner .next{
  border-radius: 0 3px 3px 0;
}
#banner .prev{
  
  border-radius: 3px 0 0 3px;
}

#banner .prev, .next{
  padding: 16px;
  background-color: #F4F8FF;
  margin-right: 5%;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease-out;
  z-index: 1;
}


/* Small screens */
@media only screen and (max-width: 767px) {
  #banner .slideshow-container {
    width: 100%;
    height: 350px;
    padding-bottom: 5%;
  }
}


/* Medium and up screens */
@media only screen and (min-width: 768px) {
  #banner .slideshow-container {
    width: 80%;
    height: 310px;
    padding-bottom: 10%;
  }
}

.carousel-item img {
  height: 500px;
}

.carousel-inner .carousel-item-next:not(.carousel-item-left),
.carousel-inner .carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: none !important;
    transform: none !important;
}
#banner .active{
    color: #F4F8FF;
    background-color: #F4F8FF;
    border: 1px solid #F4F8FF;
}