body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-bottom: 20%;
 }
 
 .frame-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 230px;
    margin-top: 3rem!important;
    
 }
 
 .game-badge {
    height: 100px !important;
    width: 100px !important;
    max-width: none;
 }

 .badge-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
}

.badge-item {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;

}
.badge-item:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .badge-item img {
    max-width: 100%;
  }
  
  .badge-item p {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }