/*:::Boton Modal:::*/
.boton-modal {
    padding: 40px;
    text-align: end;
}

.boton-modal label {
    padding: 10px 15px;
    background-color: rgb(241, 239, 243);
    background-image: "\imagenes\instrucciones.png";
    color: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.boton-modal label img{
    width: 30px;
}
.boton-modal label:hover {
    background-color: rgb(154, 152, 156);
}

/*:::Fin Boton Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal-instrucciones{
    display: none;
}



.container-modal{
    width:  100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144,148,150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}



#btn-modal-instrucciones:checked ~ .container-modal{
    display: flex;
}

.content-modal {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;


}


.container-modal h2{
    margin-bottom: 15px;
}

.container-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #03989E;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover{
    background-color:  #037074;
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .content-modal {
        width: 90%;
        
    
    
    }
}
/*:::Fin Ventana Modal  en container-modal si hay problemas sera por el top y el left :::*/








#btn-modal-historial{
    display: none;
}



.container-modal-historial{
    width:  100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144,148,150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}



#btn-modal-historial:checked ~ .container-modal-historial{
    display: flex;
}

.content-modal-historial {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;


}
.content-modal-historial {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;


}

.container-modal-historial h2{
    margin-bottom: 15px;
}

.container-modal-historial p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal-historial .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal-historial .btn-cerrar label{
    padding: 7px 10px;
    background-color: #03989E;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.content-modal-historial .btn-cerrar label:hover{
    background-color:  #037074;
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .content-modal-historial {
        width: 90%;
        
    
    
    }
}